<header>
    <nav class="container">
        <div class="navbar-logo">
            <a routerLink="/home">
                <img class="logo" src="assets/eventuxLogo-removebg.png" alt="JetJoy Logo">
            </a>
        </div>
        
        <ul class="nav-links">
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#why-choose-us">Why Choose US</a></li>
            <li><a href="#customer-reviews">Our customer</a></li>
            <li><a href="#cta">Your Event</a></li>
            
        </ul>
        <div>
            <button [routerLink]="['/signin']">Sign In</button>
            <button [routerLink]="['/signup']">Sign Up</button>
        </div>
        
    </nav>
</header>

<router-outlet></router-outlet>


    
