<header>
  <nav class="container navbar">
    <div class="navbar-logo">
      <a routerLink="/home">
        <img class="logo" src="assets/eventuxLogo-removebg.png" alt="JetJoy Logo">
      </a>
    </div>

    <ul class="nav-links">
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#why-choose-us">Why Choose US</a></li>
      <li><a href="#customer-reviews">Our customer</a></li>
      <li><a [routerLink]="['/event-manager']">Your Event</a></li>
       <li><a [routerLink]="['/file-upload']">Upload Your Pictures</a></li>
       <li><a [routerLink]="['/report-ticket']">Report</a></li>
      <!-- Only show to users with permission above guest -->
      <li *ngIf="hasEventAccess$ | async">
        <a [routerLink]="['/user-events']">Your Events</a>
      </li>
      <li *ngIf="adminAccess$ | async">
        <a [routerLink]="['/admin']">mange app</a>
      </li>
    </ul>

    <div>
        <!-- NOT logged in -->
        <ng-container *ngIf="!(isLoggedIn$ | async); else logged">
        <button [routerLink]="['/signin']">Sign In</button>
        <button [routerLink]="['/signup']">Sign Up</button>
        </ng-container>

        <!-- logged in -->
        <ng-template #logged>
        <button [routerLink]="['/profile']">Profile</button>
        <button  class="logout-btn" (click)="logout()">Logout</button>
        </ng-template>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
