<p>sidebar works!</p>
<div class="container">
    <ul>
      <li>
        <button (click)="selectCategory('all')">All</button>
      </li>
      <li>
        <button (click)="selectCategory('products')">Deals</button>
      </li>
      <li>
        <button (click)="selectCategory('flights')">Flights</button>
      </li>
      <li>
        <button (click)="selectCategory('hotels')">Hotels</button>
      </li>
      <li>
        <button (click)="selectCategory('cars')">Car Rent</button>
      </li>
    </ul>
  </div>
  